* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(34, 34, 34);
  line-height: 1.7;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
  transform: scale(1, 1.3);
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul span {
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: grey;
  font-size: 14px;
}

button {
  border: none;
  background: hsl(206, 22%, 49%);
  color: white;
  padding: 9px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.4px;
  font-weight: bold;
}

.feature-wrapper {
  margin-bottom: 30px;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.article-header img {
  width: 100%;
}

figcaption {
  color: rgb(126, 126, 126);
  font-size: 13px;
  position: relative;
  line-height: 1.4;
  margin-top: 4px;
  max-width: 70vw;
}

figcaption span {
  font-size: 11px;
  color: rgb(145, 145, 145);
  letter-spacing: 0.8px;
  padding-left: 10px;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  height: 43px;
  width: 100vw;
  padding-left: 20px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(240, 240, 240);
  margin-bottom: 30px;
}

.header-nav * {
  margin-left: 5px;
  margin-right: 5px;
}

.header-nav .glass {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.nytlogo {
  display: flex;
}

.svg-search {
  width: 16px;
}

.nyt {
  width: 184px;
}

.header-nav span {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
}

.nytlogo {
  margin-left: auto;
}

.header-nav button:nth-of-type(1) {
  margin-left: auto;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 14px;
  background: #000;
  height: 2px;
  border-radius: 5px;
}

.hamburger::before {
  transform: translateY(-4px);
}

.hamburger::after {
  transform: translateY(2px);
}

.main-title {
  font-style: italic;
  margin-bottom: 30px;
  max-width: 50vw;
  font-size: 30px;
}

.article-author {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

.article-img {
  position: relative;
  left: -40%;
}
.section-inflation {
  position: relative;
  width: 140%;
  left: -20%;
  margin-bottom: 30px;
}

.inflation-container {
  width: 945px;
  overflow: hidden;
  position: relative;
}

.inflation-container img {
  max-width: 100%;
  height: auto;
}

.inflation-container .row {
  display: flex;
  max-width: 100%;
}

.inflation-container .row:nth-of-type(1) {
  position: absolute;
  top: 20%;
}

.inflation-container .row:nth-of-type(2) {
  position: absolute;
  bottom: 11%;
}

.inflation-container .row p {
  margin: 0 20px;
}

.inflation-container .row > p {
  margin-left: 0;
}
.inflation-container .row p:last-child {
  margin-right: 0;
}

.section-inflation > p:last-child::before {
  content: "";
  display: block;
  width: 70px;
  height: 1.5px;
  position: absolute;
  bottom: 4%;
  background: rgba(70, 70, 70, 0.9);
}
.inflation-container p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.inflation-subheadings {
  font-weight: 600;
  padding-right: 13px;
}

.yt-embed {
  padding: 35px 0;
}

.article-footer {
  margin-top: 30px;
  font-size: 12px;
  margin-bottom: 75px;
  color: rgb(155, 153, 153);
}

.article-footer-row {
  margin-top: 20px;
}

.article-footer-row button {
  width: 50%;
  text-transform: uppercase;
}

.related-section {
  display: flex;
  height: 1000px;
  min-width: 80vw;
  margin-top: 30px;
}

.related-left {
  width: 69%;
  border-top: 1px solid black;
}

.related-right {
  width: 31%;
  margin-left: 30px;
  border-top: 1px solid black;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  grid-row-gap: 35px;
  margin-bottom: 30px;
  font-size: 17px;
}

.grid-item {
  min-width: 0;
}

.grid-item img {
  max-width: 100%;
}

.related-left > p {
  padding: 25px 0 15px 0;
  font-weight: 600;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
}

.e-picks {
  padding: 25px 0 15px 0;
  font-weight: 600;
  border-top: 1px solid black;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
}

.related-right ul {
  list-style-type: none;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  padding: 0;
  line-height: 1.5;
}

.popular-item {
  padding: 15px 0;
  border-top: 1px solid lightgrey;
  width: 100%;
}

.related-right > p {
  font-weight: bold;
  padding: 25px 0 15px 0;
  font-family: Helvetica, sans-serif;
}

footer {
  padding-top: 60px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  width: 90vw;
  height: 4px;
  background: white;
  border-top: 2px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer-head {
  display: flex;
  justify-content: space-between;
}

.home-link {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  align-self: flex-end;
}

.home-link a {
  color: rgb(87, 132, 175);
  text-decoration: none;
}

.links-container {
  display: flex;
  font-family: Helvetica, sans-serif;
  padding-top: 10px;
  font-size: 14px;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 40px;
}

.links-container span {
  margin: 0;
  color: rgb(32, 32, 32);
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.links-container svg {
  margin-right: 4px;
}

.links-container .f-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.links-container div:last-of-type {
  padding-left: 13px;
  border-left: 1px solid rgb(226, 226, 226);
}

.f-bord {
  height: 1px;
  background: rgb(226, 226, 226);
  width: 100%;
  margin-bottom: 10px;
}

.links-container div:last-of-type li:nth-last-of-type(1n + 6) {
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: 800;
}

.links-container div:last-of-type li:nth-of-type(1n + 5) {
  font-size: 12px;
  padding: 3px 0;
}

.links-container div:last-of-type li:nth-child(9) {
  padding-top: 13px;
}

.links-container div:last-of-type li:nth-child(8) {
  padding-bottom: 10px;
}

.popular-item,
.f-list-item,
.links-container ul {
  width: 100%;
}
