* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-nav {
  height: 30px;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  background: rgb(226, 226, 226);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  width: 1.4em;
  background: #000;
  height: 3px;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}
